[submodule "LzyLog"]
	path = LzyLog
	url = https://github.com/etaaquarids/LzyLog.git
[submodule "LzyHttp"]
	path = LzyHttp
	url = https://github.com/etaaquarids/LzyHttp.git
[submodule "LzyCoroutine"]
	path = LzyCoroutine
	url = https://github.com/etaaquarids/LzyCoroutine.git
[submodule "LzyAsyncIO"]
	path = LzyAsyncIO
	url = https://github.com/etaaquarids/LzyAsyncIO.git
[submodule "LzyUtility"]
	path = LzyUtility
	url = https://github.com/etaaquarids/LzyUtility.git
